
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>QUẢN LÍ SÁCH</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
    </br>
      <h1 class="mt-5 text-info" align="middle">Quản lí sách</h1>
    </main>
      <div class="container">
        
        <div class="row">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên Sách</th>
                            <th>Năm Xuất Bản</th>
                            <th>Tác giả</th>
                            <th>Thể loại</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="book : ${bookPage}">
                            <td th:text="${book.id}"></td>
                            <td >
                                <a th:href="@{'/cart/'+${book.id}}" th:text="${book.name}">

                                </a>
                            </td>
                            <td th:text="${book.year}"></td>
                            <td>
                                <div th:each="author: ${book.getAuthorList()}" th:text="${author.name}"></div>
                            </td>
                            <td th:text="${book.getBookCategory().getName()}"></td>
                            <td>
                                <a th:href="@{/editBook(id=${book.id})}" class="btn btn-outline-primary">
                                    <i class="fa fa-edit" aria-hidden="true"></i></a>
                            </td>
                            <td>
                                <a th:href="@{/deleteBook?id={id}(id=${book.id})}" class="btn btn-outline-primary"
                                   onclick="return confirm('Bạn muốn xóa sản phẩm này?')">
                                    <i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>    
                </div>
            </div>
      </div>
  </body>
</html>
